<form [formGroup]="form" (ngSubmit)="getInput()">

  <div class="form-group">
    <label>{{ 'hangars.form.name' | translate }}</label>
    <input
    class="{{ this.inputClass }}"
    *ngIf="hangar!=null"
    type="text"
    [formControl]="name"
    [readonly]="this.readonlyState" />
    <input
    class="{{ this.inputClass }}"
    *ngIf="hangar==null" [formControl]="name" type="text"
      [readonly]="this.readonlyState" />
    <div class="alert alert-danger mt-1" *ngIf="name.touched && name.invalid">
      <div *ngIf="name.errors.required">{{ 'validations.field-required' | translate }}</div>
      <div *ngIf="name.errors.minlength" [translate]=" 'hangar-form.validations.field-minimun' "
        [translateParams]="{ minLength: name.errors.minlength.requiredLength }"></div>
    </div>
  </div>
  <div class="form-group">
    <label>{{ 'hangars.form.location' | translate }}</label>
    <input class="{{ this.inputClass }}"
      *ngIf="hangar!=null" type="text" [formControl]="location" [readonly]="this.readonlyState" /><input
      class="{{ this.inputClass }}" *ngIf="hangar==null" [formControl]="location" type="text"
      [readonly]="this.readonlyState" />
    <div class="alert alert-danger mt-1" *ngIf="location.touched && location.invalid">
      <div *ngIf="location.errors.required">{{ 'validations.field-required' | translate }}</div>
    </div>
  </div>
  <div class="form-group">
    <label>{{ 'hangars.form.owner' | translate }}</label>
    <input class="{{ this.inputClass }}"
      *ngIf="hangar!=null" type="text" [formControl]="owner" [value]="hangar.owner"
      [readonly]="this.readonlyState" />
      <input class="{{ this.inputClass }}" *ngIf="hangar==null" [formControl]="owner"
        type="text" [readonly]="this.readonlyState" />
    <div class="alert alert-danger mt-1" *ngIf="owner.touched && owner.invalid">
      <div *ngIf="owner.errors.required">{{ 'validations.field-required' | translate }}</div>
    </div>
  </div>
  <div class="form-group">
    <label>{{ 'hangars.form.email' | translate }}</label>
    <input class="{{ this.inputClass }}"
      *ngIf="hangar!=null" type="email" [formControl]="ownerEmail" [readonly]="this.readonlyState" /><input
      class="{{ this.inputClass }}" *ngIf="hangar==null" [formControl]="ownerEmail" type="text"
      [readonly]="this.readonlyState" />
    <div class="alert alert-danger mt-1" *ngIf="ownerEmail.touched && ownerEmail.invalid">
      <div *ngIf="ownerEmail.errors.required">{{ 'validations.field-required' | translate }}</div>
      <div *ngIf="ownerEmail.errors.email">{{ 'validations.field-email' | translate }}</div>
    </div>
  </div>
  <div class="form-group">
    <label>{{ 'hangars.form.phone' | translate }}</label>
    <input class="{{ this.inputClass }}" *ngIf="hangar!=null" type="text" [formControl]="phoneNumber" [value]="hangar.phone"
      [readonly]="this.readonlyState" />
    <input class="{{ this.inputClass }}" *ngIf="hangar==null"
      [formControl]="phoneNumber" type="text" [readonly]="this.readonlyState" />
    <div class="alert alert-danger mt-1" *ngIf="phoneNumber.touched && phoneNumber.invalid">
      <div *ngIf="phoneNumber.errors.required">{{ 'validations.field-required' | translate }}</div>
    </div>
    <div class="mt-2 d-flex justify-content-end" *ngIf="this.buttonDisabled == false" >
      <app-rectangle-button
      @fade
      [text]=" 'hangars.form.submit' | translate"
      *ngIf="!(name.invalid || location.invalid || owner.invalid || ownerEmail.invalid || phoneNumber.invalid)">{{ 'hangars.form.submit' | translate }}
    </app-rectangle-button>
     </div>
  </div>
</form>
