<div class='custom-card'>

  <div class='header'>
    <span class='title'>
      {{ (product.name.length> 10) ? (product.name | slice:0:10) + ' ...' : product.name }}
    </span>
    <app-pill>{{ product.price }} $</app-pill>
  </div>

  <div class='button-container'>
    <app-button
     [bclass]='this.leftButtonClass'
     (click)='this.handleLeftButtonClick($event)'>
      <ng-content select='.left-button'></ng-content>
    </app-button>

    <app-button
    [bclass]='this.rightButtonClass'
    (click)='this.handleRightButtonClick($event);'>
      <ng-content select='.right-button'></ng-content>
    </app-button>

  </div>

</div>
