<div class='custom-card'>

  <div class='header'>
    <span class='title'>{{ product.name }}</span>
    <span class='badge badge-pill'>
      <span>{{ product.price }} $</span>
    </span>
  </div>

  <div class='button-container'>
    <app-button
    ButtonType [bclass]='this.buttonClass'
    (click)='this.handleLeftButtonClick($event)'>
      <ng-content select='.left-button'></ng-content>
    </app-button>

    <app-button
    ButtonType bclass='button-rectangle-primary'
    (click)='this.handleRightButtonClick($event);'>
      <ng-content select='.right-button'></ng-content>
    </app-button>

  </div>

</div>
