<div class='custom-card-deck' *ngIf='this.products'>
  <app-card
  *ngFor='let product of this.products'
  [product]='product'
  [buttonClass]='this.buttonClass'
  (leftButtonClickEmitter)='this.handleCardLeftButtonClick(product)'
  (rightButtonClickEmitter)='this.handleCardRightButtonClick(product)'>
    <ng-container class='left-button'>
      {{ this.leftButtonText }}
    </ng-container>
    <ng-container class='right-button'>
      {{ this.rightButtonText }}
    </ng-container>
  </app-card>
</div>
