<div class='card-columns' *ngIf='this.products'>

  <div class='card m-1' *ngFor='let product of products'>
      <div class='card-body d-flex flex-column p-3'>

        <div class='w-100 text-center mb-3'>
          <span>{{ this.product.name }}</span>
        </div>

        <div class='btn-group d-flex' role='group'>

          <button class='btn btn-primary' [routerLink]=" ['modify', product.id] ">
            {{ 'products.card-deck.modify-button' | translate }}
          </button>
          <button class='btn btn-primary' [routerLink]=" ['details', product.id] ">
            {{ 'products.card-deck.details-button' | translate }}
          </button>

        </div>

        <button
        (click)='this.addToShoppingCart(product)'
        class='btn btn-success mt-2'>
          {{ 'products.card-deck.add-to-cart' | translate }}
        </button>
      </div>
  </div>
</div>
