@import './../../../../app.component.less';

.custom-card-deck {
  display: grid;

  @media screen and (min-width: @extra-large) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
  }

  @media screen and (min-width: @medium) and (max-width: @extra-large) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }

  @media screen and (max-width: @small) {
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }

}

i {
  color:#f9f9f9;
}
