.custom-card-deck {
  display: grid;
}
@media screen and (min-width: 1200px) {
  .custom-card-deck {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .custom-card-deck {
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }
}
@media screen and (max-width: 768px) {
  .custom-card-deck {
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }
}
i {
  color: #f9f9f9;
}
