<form [formGroup]='form' (ngSubmit)='this.submit()' class='custom-form'>

  <div class='custom-form-group'>
    <label class='label' for='name'>Nombre</label>
    <input class='input' id='name' formControlName='name' autocomplete='off'>
  </div>

  <div class='form-group-container'>

    <div class='custom-form-group'>
      <label class='label' for='price'>Precio</label>
      <input class='input small' id='price' formControlName='price' autocomplete='off'>
    </div>

    <div class='custom-form-group'>
      <label class='label' for='quantity'>Cantidad</label>
      <input class='input small' id='quantity' formControlName='quantity' autocomplete='off'>
    </div>

  </div>

  <div class='button-container'>
    <button>Guardar</button>
  </div>

</form>
