<div class="container">
  <form [formGroup]="form" (ngSubmit)="getInput()">

    <div class="form-group">

      <!-- Form Control -->
      <label for="name">
        {{ 'products.form.name' | translate }}
      </label>
      <input
      class="form-control"
      *ngIf="!name.touched || !name.invalid"
      [formControl]="name"
      type="text"
      id="name"
      autocomplete="off" />
      <input
      class="form-control is-invalid"
      *ngIf="name.touched && name.invalid"
      [formControl]="name"
      type="text"
      id="name"
      autocomplete="off" />

      <!-- Validation messages -->
      <div *ngIf="name.touched && name.invalid">
        <div
        class="invalid-feedback"
        *ngIf="name.errors.required">
          {{ 'validations.field-required' | translate }}
        </div>
        <div
        class="invalid-feedback"
        *ngIf="name.errors.minlength"
        [translate]=" 'validations.field-min-length' "
        [translateParams]="{ minLength: name.errors.minlength.requiredLength }">
        </div>
      </div>

    </div>

    <div class="form-group">

      <!-- Form Control -->
      <label for="description">
        {{ 'products.form.description' | translate }}
      </label>
      <textarea
      class="form-control"
      *ngIf="!description.touched || !description.invalid"
      [formControl]="description"
      id="description"
      rows="5"
      autocomplete="off">
      </textarea>
      <textarea
      class="form-control is-invalid"
      *ngIf="description.touched && description.invalid"
      [formControl]="description"
      id="description"
      rows="5"
      autocomplete="off">
      </textarea>

      <!-- Validation messages -->
      <div *ngIf="description.touched && description.invalid">
        <div
        class="invalid-feedback"
        *ngIf="description.errors.required">
          {{ 'validations.field-required' | translate }}
        </div>
      </div>

    </div>
    <label>{{ 'products.form.select-hangar' | translate }}</label>


    <ul class="custom-list-group">
      <li *ngFor="let hangar of hangars;">
        <span *ngIf='this.hangar.id != this.form.controls["hangarId"].value' class="custom-list-item" (click)="selectHangar(hangar.id, i)">{{ hangar.name }}</span>
        <span *ngIf='this.hangar.id == this.form.controls["hangarId"].value' class="custom-list-item selected" (click)="selectHangar(hangar.id, i)">{{ hangar.name }}</span>
      </li>
    </ul>

    <div>
      <label>{{ 'products.form.quantity' | translate }}</label>
      <div class='counter-container'>
        <app-circle-button [text]=' " - " ' (click)='decreaseQuantity()'></app-circle-button>
        <span class='number-box'>{{ this.form.get('quantity').value }}</span>
        <app-circle-button [text]=' " + " '  (click)='increaseQuantity()'></app-circle-button>
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <div class="form-group form-inline"><label for="price">{{ 'products.form.price' | translate }}</label><input
          class="ml-2 form-control" *ngIf="!price.touched || !price.invalid" [formControl]="price" id="price" cols="1"
          autocomplete="off" /><input class="ml-2 form-control is-invalid" *ngIf="price.touched && price.invalid"
          [formControl]="price" id="price" cols="2" autocomplete="off" /></div>
      <div *ngIf="price.touched && price.invalid">
        <div class="invalid-feedback" *ngIf="price.errors.required">{{ 'validations.field-required' | translate }}</div>
      </div>
      <div>
        <app-primary-button [text]=" 'products.form.submit-button'| translate "></app-primary-button>
      </div>
    </div>
  </form>
</div>
