<app-aux-navbar [title]=" 'products.list.title' | translate "></app-aux-navbar>

<div *ngIf='this.existsSelectedHangar' class='container'>
  <app-card-deck
  [products]='this.products'
  [leftButtonText]='this.isShoppingModeEnabled
    ? ("products.card-deck.add-to-cart" | translate)
    : ("products.card-deck.modify-button" | translate)'
  [rightButtonText]='this.isShoppingModeEnabled
    ? ("products.card-deck.remove-from-cart" | translate)
    : ("products.card-deck.details-button" | translate)'
  [leftButtonClass]='this.isShoppingModeEnabled
    ? "button-rectangle-secondary"
    : "button-rectangle-primary"'
  [rightButtonClass]='this.isShoppingModeEnabled
    ? "button-rectangle-danger"
    : "button-rectangle-primary"'
  (cardLeftButtonClickEmitter)='this.handleCardLeftButtonClick($event)'
  (cardRightButtonClickEmitter)='this.handleCardRightButtonClick($event)'>
  </app-card-deck>
</div>

<div *ngIf='!this.existsSelectedHangar' class="jumbotron">
  <p class='lead'>{{ 'products.list.message' | translate }}</p>
</div>

<app-hangar-list-bar
[hangarsMinified]='this.hangarsMinified'
class='lateral-bar-list'
(hangarSelectedEmmiter)='this.handleHangarSelected($event)'>
</app-hangar-list-bar>

<div class='fixed-top button d-flex justify-content-between'>
  <app-button
  bclass='button-rectangle-secondary'
  [routerLink]=" ['insert'] ">
    {{ 'products.list.buttons.insert-button' | translate }}
  </app-button>
</div>

<div class='float-button'>
  <app-button
  bclass='button-circle-primary-darker' icon='fa fa-shopping-cart'
  (click)='this.changeSmallToastRenderState()'
  class='button-shopping-cart'>
  </app-button>
</div>


<app-small-toast
*ngIf='this.isSmallToastRendered'
[shoppingCart]='this.shoppingCart'
class='small-toast'
@bounceInRight (@bounceInRight.done)='this.enableShoppingMode()'
@bounceOutRight (@bounceOutRight.done)='this.disableShoppingMode()'>
</app-small-toast>
