<!-- <div *ngIf='this.existsSelectedHangar' class='container'>
  <app-card-deck
  [products]='this.products'
  [leftButtonText]='this.isShoppingModeEnabled
    ? ("products.card-deck.add-to-cart" | translate)
    : ("products.card-deck.modify-button" | translate)'
  [rightButtonText]='this.isShoppingModeEnabled
    ? ("products.card-deck.remove-from-cart" | translate)
    : ("products.card-deck.details-button" | translate)'
  [leftButtonClass]='this.isShoppingModeEnabled
    ? "button-rectangle-secondary"
    : "button-rectangle-primary"'
  [rightButtonClass]='this.isShoppingModeEnabled
    ? "button-rectangle-danger"
    : "button-rectangle-primary"'
  (cardLeftButtonClickEmitter)='this.handleCardLeftButtonClick($event)'
  (cardRightButtonClickEmitter)='this.handleCardRightButtonClick($event)'>
  </app-card-deck>
</div>

<div *ngIf='!this.existsSelectedHangar' class="jumbotron">
  <p class='lead'>{{ 'products.list.message' | translate }}</p>
</div>

<app-hangar-list-bar
[hangarsMinified]='this.hangarsMinified'
class='lateral-bar-list'
(hangarSelectedEmmiter)='this.handleHangarSelected($event)'>
</app-hangar-list-bar>

<div class='fixed-top button d-flex justify-content-between'>
  <app-button
  bclass='button-rectangle-secondary'
  [routerLink]=" ['insert'] ">
    {{ 'products.list.buttons.insert-button' | translate }}
  </app-button>
</div>

<div class='float-button'>
  <app-button
  bclass='button-circle-primary-darker' icon='fa fa-shopping-cart'
  (click)='this.changeSmallToastRenderState()'
  class='button-shopping-cart'>
  </app-button>
</div>

-->

<app-small-toast
*ngIf='this.isSmallToastRendered'
[shoppingCart]='this.shoppingCart'
class='small-toast'
@bounceInRight (@bounceInRight.done)='this.enableShoppingMode()'
@bounceOutRight (@bounceOutRight.done)='this.disableShoppingMode()'>
</app-small-toast>

<!-- <div class="footer-toast-container" *ngIf='this.isShoppingModeEnabled'>
  <app-footer-toast [shoppingCart]='this.shoppingCart'></app-footer-toast>
</div>
 -->

<div *ngIf='!this.existsSelectedHangar' class="jumbotron">
  <p class='lead'>{{ 'products.list.message' | translate }}</p>
</div>


<div class="custom-card-deck" *ngIf='this.existsSelectedHangar'>
  <app-card-deck
  [products]='this.products'
  [leftButtonText]='this.isShoppingModeEnabled
    ? ("products.card-deck.add-to-cart" | translate)
    : ("products.card-deck.modify-button" | translate)'
  [rightButtonText]='this.isShoppingModeEnabled
    ? ("products.card-deck.remove-from-cart" | translate)
    : ("products.card-deck.details-button" | translate)'
  [leftButtonClass]='this.isShoppingModeEnabled
    ? "button-rectangle-secondary"
    : "button-rectangle-primary"'
  [rightButtonClass]='this.isShoppingModeEnabled
    ? "button-rectangle-danger"
    : "button-rectangle-primary"'
  (cardLeftButtonClickEmitter)='this.handleCardLeftButtonClick($event)'
  (cardRightButtonClickEmitter)='this.handleCardRightButtonClick($event)'>
  </app-card-deck>
</div>

<div class="hangar-list-container"
(mouseover)='this.handleHangarListMouseOver()'
(mouseleave)='this.handleHangarListMouseLeave()'>
    <app-hangar-list-bar
    [hangarsMinified]='this.hangarsMinified'
    class='hangar-list'
    (hangarSelectedEmmiter)='this.handleHangarSelected($event)'>
    </app-hangar-list-bar>
    <div class='expand-button'>
      <i class="fa fa-chevron-circle-right"></i>
    </div>
</div>


<div class='float-buttons'>
    <app-button
    bclass='button-circle-primary-darker' icon='fa fa-shopping-cart'
    (click)='this.changeSmallToastRenderState()'
    class='button-shopping-cart'>
    </app-button>
    <app-button
    *ngIf='!this.isSmallToastRendered'
    bclass='button-circle-secondary' icon='fa fa-plus'
    (click)='this.changeSmallToastRenderState()'
    class='button-shopping-cart'
    [routerLink]=" ['insert'] "
    @fullFade>
    </app-button>
  </div>

  <div *ngIf='this.isInfoToastRendered && this.products.length == 0' class="info-toast" @fullFade>
    <app-info-toast>{{ 'products.info-toast.message' | translate }}</app-info-toast>
  </div>
