<app-aux-navbar [title]=" 'products.list.title' | translate "></app-aux-navbar>

<!-- Card deck -->
<div class='container'>
    <app-card-deck
    [products]='this.products'
    [hangarName]='this.hangarSelectedName'
    (incrementProductCounterEmitter)='this.handleIncrementProductCounterEmitter()'
    (decrementProductCounterEmitter)='this.handleDecrementProductCounterEmitter()'>
    </app-card-deck>
</div>

<!-- Hangar list bar -->
<app-hangar-list-bar
[hangarsName]='this.hangarsName'
class='lateral-bar-list'
(hangarSelectedNameEmmiter)='this.handleHangarSelected($event)'>
</app-hangar-list-bar>

<!-- Button group -->
<div class='fixed-top button d-flex justify-content-between'>
    <app-secondary-button
    class='m-1'
    [text]=" 'products.list.buttons.insert-button' | translate "
    (click)='goInsert()'>
    </app-secondary-button>
    <app-secondary-button
    class='m-1'
    [text]=" 'products.list.buttons.load-button' | translate "
    (click)='loadMore()'>
    </app-secondary-button>
</div>
