<app-aux-navbar [title]=" this.product.name "></app-aux-navbar>
<div class="container">
  <div class="card">
    <div class="card-body d-flex flex-column justify-content-between">
      <h5>{{ this.product.name }}</h5>
      <span class="text-justify">{{ this.product.description }}</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary" (click)="onClick()">
          {{ this.product.prices[this.product.prices.length-1].price }}$
        </button>
      </div>
    </div>
  </div>
  <ul class="list-group mt-3" *ngIf="this.showPrices">
    <li class="list-group-item" *ngFor="let price of this.product.prices">{{ price.price }}$</li>
    <form class="form-inline mt-1" #form="ngForm"><input class="form-control" name="price" ngModel="ngModel"
        #price="ngModel" type="text" autocomplete="off" /><button class="btn btn-success"
        (click)="onSubmit(form)">Insert!</button></form>
  </ul>
</div>
