<div class='quantity-counter-form-group'>
  <!-- <label for='quantity-counter'>{{ this.label }}</label> -->
  <div class='counter-container' id='quantity-counter'>

    <app-button
    ButtonType bclass='button-circle-primary'
    *ngIf='!this.disabled'
    [text]=" ' - ' "
    (click)='this.decreaseQuantity()'>
    </app-button>
    <input
    (input)='this.onChange(+$event.target.value)'
    (blur)='this.onTouched()'
    [value]='this.value'
    [disabled]='this.disabled'
    [ngClass]='{ "is-custom-invalid": this.isInvalid }'
    class='form-control quantity'>
    <app-button
    ButtonType bclass='button-circle-primary'
    *ngIf='!this.disabled'
    [text]=" ' + ' "
    (click)='this.increaseQuantity()'>
    </app-button>

  </div>
</div>
