<div class='form-group'>
  <label for='quantity-counter'>{{ this.label }}</label>

  <div class='counter-container' id='quantity-counter'>

    <app-button
    ButtonType bclass='button-circle-primary' icon='fa fa-minus'
    *ngIf='!this.disabled'
    (click)='this.decreaseQuantity()'>
    </app-button>
    <input
    (input)='this.onChange(+$event.target.value)'
    (blur)='this.onTouched()'
    [value]='this.value'
    [disabled]='this.disabled'
    [ngClass]='{ "is-custom-invalid": this.isInvalid }'
    class='form-control quantity'>
    <app-button
    ButtonType bclass='button-circle-primary' icon='fa fa-plus'
    *ngIf='!this.disabled'
    (click)='this.increaseQuantity()'>
    </app-button>

  </div>
</div>
