label {
  font-weight: bold;
}

.counter-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2pt;
}

span {
  background:#f7f7f7;
  border-radius: 3px;

  display:flex;
  justify-content: center;
  align-items: center;
}
