<app-aux-navbar *ngIf='this.product' [title]='this.product.name'></app-aux-navbar>
<app-aux-navbar *ngIf='!this.product' [title]=' "products.insert.title" | translate '></app-aux-navbar>


<div class='container'>

  <form [formGroup]='form' (ngSubmit)='submit()'>

    <app-input-form
    formControlName='name'
    [label]= ' "products.form.name" | translate'>
    </app-input-form>

    <app-input-form
    formControlName='description'
    [label]= ' "products.form.description" | translate'
    [isTextArea]='true'>
    </app-input-form>

    <!--
    <div>

      <app-hangar-list-form
      [hangarsMinified]='this.hangarsMinified'
      [hangarSelectedId]='this.form.controls[hangarId].value'
      (hangarSelectedIdEmitter)='this.handleHangarSelected($event)'>
      </app-hangar-list-form>

    </div>

    <div *ngIf='!this.isFormEnabled' class='form-group'>

      <label for='description'>
        {{ 'products.form.hangar' | translate }}
      </label>
      <textarea
      formControlName='hangarId'
      class='form-control'
      id='description'
      rows='5'
      autocomplete='off'>
      </textarea>

    </div>

    <div *ngIf='this.form.valid && this.isFormEnabled' class='d-flex justify-content-end'>

      <app-primary-button
      [text]=' "products.form.submit-button" | translate '>
      </app-primary-button>

    </div>
 -->
  </form>
</div>
