li {
  list-style-type: none;
  text-decoration: none;

  span:focus {
    outline: none;
    border: 0;
  }
}

.transition() {
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.d-flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.background() {
  background-size: 300% 100%;
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

nav {
  .background();
  .transition();

  height: 80px;

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;

  &:hover {
    background-position: 100% 0;
  }
}

div, li, span {
  .d-flex-center();
}

div:nth-child(1) {
  font-size: 24pt;
  color: #f7f7f7;
}

div:nth-child(2) {
  flex-direction: row;
  li {
    height: 60px;
    width: 20%;
    font-size: 17pt;

    span {
      width: 80%;
      height: 100%;
      color: #f7f7f7;

      border-radius: 5px;
      box-shadow: 0px 0px 4px -2px white;

      transition: all 0.2s ease-in;
      cursor: pointer;
      &:hover {
        background: #29323c;
        box-shadow: none;
        transform: translateY(2px);
      }

    }
  }
}

div:nth-child(3) {
  justify-content: space-around;
  span {
    font-size:14pt;
  }
}


.selected {
  transform: translateY(2px);
  background: #29323c;
}

.search-button {
  position: fixed;
  z-index: 1;
  margin-left: 27%;
}

.search-bar {
  position: fixed;
  z-index: 1;
  top: 8vh;
  right: 10vw;
}
