li {
  list-style-type: none;
  text-decoration: none;
}
li:focus {
  outline: 0;
}
li span:focus {
  outline: none;
  border: 0;
}
nav {
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-size: 300% 100%;
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
  display: grid;
  height: 100%;
  color: #f7f7f7;
  min-height: 60px;
}
nav:hover {
  background-position: 100% 0;
}
@media screen and (min-width: 1200px) {
  nav {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "title primary-buttons secondary-buttons";
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  nav {
    grid-template-columns: 1fr 1.4fr;
    grid-template-rows: 1fr 0.8fr;
    grid-template-areas: "title secondary-buttons" "primary-buttons primary-buttons";
    min-height: 110px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  nav {
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 0.8fr;
    grid-template-areas: "title secondary-buttons" "primary-buttons primary-buttons";
    min-height: 110px;
  }
}
@media screen and (min-width: 640px) and (max-width: 768px) {
  nav {
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 0.8fr 1.2fr;
    grid-template-areas: "title secondary-buttons" "primary-buttons primary-buttons";
  }
}
@media screen and (max-width: 640px) {
  nav {
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 1fr 1.3fr;
    grid-template-areas: "title" "secondary-buttons" "primary-buttons";
    font-size: 10pt;
  }
}
div:nth-child(1) {
  grid-area: title;
  font-size: 20pt;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
div:nth-child(2) {
  grid-area: primary-buttons;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
div:nth-child(2) li {
  height: 80%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 0px 4px -2px white;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  div:nth-child(2) li {
    width: 23%;
  }
}
@media screen and (max-width: 640px) {
  div:nth-child(2) li {
    height: 70%;
    width: 23%;
  }
}
div:nth-child(2) li:hover {
  background: #29323c;
  box-shadow: none;
  transform: translateY(2px);
}
div:nth-child(3) {
  grid-area: secondary-buttons;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 640px) {
  div:nth-child(3) {
    align-items: flex-end;
  }
}
.search-bar {
  position: fixed;
}
@media screen and (min-width: 1200px) {
  .search-bar {
    top: 10vh;
    right: 5vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .search-bar {
    top: 15vh;
    right: 5vw;
  }
}
@media screen and (min-width: 640px) and (max-width: 768px) {
  .search-bar {
    top: 15vh;
    margin-left: -300px;
    left: 50%;
  }
}
@media screen and (max-width: 640px) {
  .search-bar {
    top: 20vh;
    margin-left: -45vw;
    left: 50%;
  }
}
