<nav>
  <div>My Hangars App</div>

  <div>
    <li *ngFor='let button of this.buttons; let i = index'>
      <span
      (click)='selected = i'
      [ngClass]='{ "selected": selected==i }'
      [routerLink]='[button.link]' routerLinkActive='router-link-active'>
      {{ button.title | translate }}
      </span>
    </li>
    <app-button
    ButtonType bclass='button-circle-primary-darker' icon='fa fa-shopping-cart'
    MouseHover (mouseEnterEmitter)='this.handleMouseOver()' (mouseLeaveEmitter)='this.handleMouseLeave()'
    class='button-shopping-cart'></app-button>
  </div>

  <div>
    <span>Jack</span>
    <app-button
    ButtonType bclass='button-circle-primary-darker'
    (click)='this.changeLanguage()'>
    {{ this.activeLang }}
    </app-button>
    <app-button
    ButtonType bclass='button-rectangle-primary-darker'
    (click)='this.logOut()'>
    {{  'navbar.log-out' | translate }}
    </app-button>
  </div>

  <app-small-toast
  *ngIf='this.isShoppingInfoRendered'
  [shoppingCart]='this.shoppingCart'
  class='small-toast'
  @fade>
  </app-small-toast>
</nav>
