<nav>
  <div>My Hangars App</div>

  <div>
    <li *ngFor='let button of this.buttons; let i = index'>
      <span
      (click)='selected = i'
      [ngClass]='{ "selected": selected==i }'
      [routerLink]='[button.link]' routerLinkActive='router-link-active'>
      {{ button.title | translate }}
      </span>
    </li>
  </div>

  <div>
    <span>Jack</span>
    <app-button
     bclass='button-circle-primary-darker'
    (click)='this.changeLanguage()'>
    {{ this.activeLang }}
    </app-button>
    <app-button
     bclass='button-rectangle-primary-darker'
    (click)='this.logOut()'>
    {{  'navbar.log-out' | translate }}
    </app-button>
  </div>

</nav>
