<form>

  <div class='form'>
    <input
    [value]='this.value'
    [type]='this.type'
    (input)='this.onChange($event.target.value)'
    (blur)='this.onTouched()'
    id='input' autocomplete='off'>
    <label for='input'>{{ this.label }}</label>
  </div>

  <div class="error">
    <div *ngIf='this.formControl.invalid && this.formControl.touched'>

      <div *ngIf='this.formControl.hasError("required")' @fade>
        {{ 'validations.field-required' | translate }}
      </div>
      <div *ngIf='this.formControl.hasError("minlength")' @fade>
        {{ 'validations.field-min-length' | translate: { minLength: this.formControl.errors.minlength.requiredLength } }}
      </div>
      <div *ngIf='this.formControl.hasError("shouldBeGreaterThanZero")' @fade>
        {{ 'validations.number-greater-than-zero' | translate }}
      </div>
      <div *ngIf='this.formControl.hasError("shouldBeANumber")' @fade>
          {{ 'validations.field-number' | translate }}
      </div>
    </div>
  </div>
</form>
