@small:        640px;
@medium:       768px;
@large:        1024px;
@extra-large:  1200px;


@black-primary: #191b1b;
@black-secondary: #000000;
@blue: #22293a;
@yellow: #FDEE30;
@gray-secondary: #cccccc;
@gray-primary: #a7a7a7;
@white: #E1E2E2;
@red: #fd2a22;
