<app-aux-navbar *ngIf='this.hangar' [title]='this.hangar.name'></app-aux-navbar>
<app-aux-navbar *ngIf='!this.hangar' [title]=' "hangars.insert.title" | translate '></app-aux-navbar>

<div class='container '>
  <form [formGroup]='this.form' (ngSubmit)='this.submit()'>

    <app-input formControlName='name'>
      {{ 'hangars.form.name' | translate }}
    </app-input>

     <app-input formControlName='location'>
      {{ 'hangars.form.location' | translate }}
    </app-input>

    <app-input formControlName='owner'>
      {{ 'hangars.form.owner' | translate }}
    </app-input>

    <app-input formControlName='email'>
      {{ 'hangars.form.email' | translate }}
    </app-input>

    <app-input formControlName='phone'>
      {{ 'hangars.form.phone' | translate }}
    </app-input>

    <div *ngIf='this.isFormEnabled' class='d-flex justify-content-end'>
      <app-button ButtonType bclass='button-rectangle-primary' type='submit'>
        {{ "hangars.form.submit" | translate }}
      </app-button>
    </div>
  </form>
</div>

