<div class="cart">
  <div class="cart-title">
    Carrito de compra
  </div>
  <ul class="cart-items">
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
    <li class="cart-item">Producto</li>
  </ul>
  <div class="cart-footer">
    <span class="price">Total 120 $</span>
   <!-- <app-circle-button-aux [text] =' " Comprar! " '></app-circle-button-aux> -->
  </div>
</div>
