.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently*/
}
.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.transition {
  transition-duration: 200ms;
  transition-property: all;
}
.remove-default-button-border {
  border: 0;
  outline: 0;
}
.button-rectangle-primary {
  width: 100%;
  width: 140px;
  height: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-rectangle-primary button {
  width: 130px;
  height: 40px;
  margin: auto;
  border-radius: 3px;
  background: #2C5364;
  color: #f9f9f9;
  font-family: 'Roboto', sans-serif;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently*/
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 200ms;
  transition-property: all;
  border: 0;
  outline: 0;
}
.button-rectangle-primary button:hover {
  background: #006a8d;
  width: 140px;
}
.button-rectangle-primary button:active {
  background: #2C5364;
  -webkit-box-shadow: 0px 0px 2px 1px #2C5364;
  -moz-box-shadow: 0px 0px 2px 1px #2C5364;
  box-shadow: 0px 0px 2px 1px #2C5364;
}
@media screen and (min-width: 640px) and (max-width: 768px) {
  .button-rectangle-primary button {
    width: 125px;
    height: 35px;
  }
}
@media screen and (max-width: 640px) {
  .button-rectangle-primary button {
    width: 120px;
    height: 30px;
    font-size: 80%;
  }
}
.button-rectangle-primary span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-rectangle-primary-darker {
  width: 100%;
  width: 140px;
  height: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-rectangle-primary-darker button {
  width: 130px;
  height: 40px;
  margin: auto;
  border-radius: 3px;
  background: #0F2027;
  color: #f9f9f9;
  font-family: 'Roboto', sans-serif;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently*/
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 200ms;
  transition-property: all;
  border: 0;
  outline: 0;
}
.button-rectangle-primary-darker button:hover {
  background: #2C5364;
  width: 140px;
}
.button-rectangle-primary-darker button:active {
  background: #0F2027;
  -webkit-box-shadow: 0px 0px 2px 1px #0F2027;
  -moz-box-shadow: 0px 0px 2px 1px #0F2027;
  box-shadow: 0px 0px 2px 1px #0F2027;
}
@media screen and (min-width: 640px) and (max-width: 768px) {
  .button-rectangle-primary-darker button {
    width: 125px;
    height: 35px;
  }
}
@media screen and (max-width: 640px) {
  .button-rectangle-primary-darker button {
    width: 120px;
    height: 30px;
    font-size: 80%;
  }
}
.button-rectangle-primary-darker span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-rectangle-secondary {
  width: 100%;
  width: 140px;
  height: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-rectangle-secondary button {
  width: 130px;
  height: 40px;
  margin: auto;
  border-radius: 3px;
  background: #137645;
  color: #f9f9f9;
  font-family: 'Roboto', sans-serif;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently*/
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 200ms;
  transition-property: all;
  border: 0;
  outline: 0;
}
.button-rectangle-secondary button:hover {
  background: #10492d;
  width: 140px;
}
.button-rectangle-secondary button:active {
  background: #137645;
  -webkit-box-shadow: 0px 0px 2px 1px #137645;
  -moz-box-shadow: 0px 0px 2px 1px #137645;
  box-shadow: 0px 0px 2px 1px #137645;
}
@media screen and (min-width: 640px) and (max-width: 768px) {
  .button-rectangle-secondary button {
    width: 125px;
    height: 35px;
  }
}
@media screen and (max-width: 640px) {
  .button-rectangle-secondary button {
    width: 120px;
    height: 30px;
    font-size: 80%;
  }
}
.button-rectangle-secondary span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-rectangle-danger {
  width: 100%;
  width: 140px;
  height: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-rectangle-danger button {
  width: 130px;
  height: 40px;
  margin: auto;
  border-radius: 3px;
  background: #cc1a2f;
  color: #f9f9f9;
  font-family: 'Roboto', sans-serif;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently*/
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 200ms;
  transition-property: all;
  border: 0;
  outline: 0;
}
.button-rectangle-danger button:hover {
  background: #93291E;
  width: 140px;
}
.button-rectangle-danger button:active {
  background: #cc1a2f;
  -webkit-box-shadow: 0px 0px 2px 1px #cc1a2f;
  -moz-box-shadow: 0px 0px 2px 1px #cc1a2f;
  box-shadow: 0px 0px 2px 1px #cc1a2f;
}
@media screen and (min-width: 640px) and (max-width: 768px) {
  .button-rectangle-danger button {
    width: 125px;
    height: 35px;
  }
}
@media screen and (max-width: 640px) {
  .button-rectangle-danger button {
    width: 120px;
    height: 30px;
    font-size: 80%;
  }
}
.button-rectangle-danger span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-rectangle-black-sm {
  width: 100%;
  width: 120px;
  height: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-rectangle-black-sm button {
  width: 110px;
  height: 30px;
  margin: auto;
  border-radius: 3px;
  background: #3d3d3d;
  color: #f9f9f9;
  font-family: 'Roboto', sans-serif;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently*/
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 200ms;
  transition-property: all;
  border: 0;
  outline: 0;
}
.button-rectangle-black-sm button:hover {
  background: #2a2a2a;
  width: 120px;
}
.button-rectangle-black-sm button:active {
  background: #3d3d3d;
  -webkit-box-shadow: 0px 0px 2px 1px #3d3d3d;
  -moz-box-shadow: 0px 0px 2px 1px #3d3d3d;
  box-shadow: 0px 0px 2px 1px #3d3d3d;
}
@media screen and (min-width: 640px) and (max-width: 768px) {
  .button-rectangle-black-sm button {
    width: 105px;
    height: 25px;
  }
}
@media screen and (max-width: 640px) {
  .button-rectangle-black-sm button {
    width: 100px;
    height: 20px;
    font-size: 80%;
  }
}
.button-rectangle-black-sm span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-circle-primary {
  width: 100%;
  height: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-circle-primary button {
  width: 40px;
  height: 40px;
  margin: auto;
  border-radius: 3px;
  border-radius: 50%;
  background: #2C5364;
  color: #f9f9f9;
  font-family: 'Roboto', sans-serif;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently*/
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 200ms;
  transition-property: all;
  border: 0;
  outline: 0;
}
.button-circle-primary button:hover {
  background: #006a8d;
}
.button-circle-primary button:active {
  background: #2C5364;
  -webkit-box-shadow: 0px 0px 2px 1px #2C5364;
  -moz-box-shadow: 0px 0px 2px 1px #2C5364;
  box-shadow: 0px 0px 2px 1px #2C5364;
}
@media screen and (min-width: 640px) and (max-width: 768px) {
  .button-circle-primary button {
    width: 35px;
    height: 35px;
  }
}
@media screen and (max-width: 640px) {
  .button-circle-primary button {
    width: 30px;
    height: 30px;
    font-size: 80%;
  }
}
.button-circle-primary span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-circle-primary-darker {
  width: 100%;
  height: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-circle-primary-darker button {
  width: 40px;
  height: 40px;
  margin: auto;
  border-radius: 3px;
  border-radius: 50%;
  background: #0F2027;
  color: #f9f9f9;
  font-family: 'Roboto', sans-serif;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently*/
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 200ms;
  transition-property: all;
  border: 0;
  outline: 0;
}
.button-circle-primary-darker button:hover {
  background: #2C5364;
}
.button-circle-primary-darker button:active {
  background: #0F2027;
  -webkit-box-shadow: 0px 0px 2px 1px #0F2027;
  -moz-box-shadow: 0px 0px 2px 1px #0F2027;
  box-shadow: 0px 0px 2px 1px #0F2027;
}
@media screen and (min-width: 640px) and (max-width: 768px) {
  .button-circle-primary-darker button {
    width: 35px;
    height: 35px;
  }
}
@media screen and (max-width: 640px) {
  .button-circle-primary-darker button {
    width: 30px;
    height: 30px;
    font-size: 80%;
  }
}
.button-circle-primary-darker span {
  display: flex;
  justify-content: center;
  align-items: center;
}
