li {
  list-style-type: none;
}

.custom-list-item {
  background: #f9f9f9;

  height: 50px;
  margin: 2px;
  padding: 0% 2%;

  border-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 90px;
}

span {
  display:flex;
  align-items: center;
  margin: 0 5px;
}

.cart-product-price {
  margin-right: 15px;
  font-weight: bold;
}

.float-button {
  position: fixed;
  top: 90vh;
  left: 20vw;
}

