/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #505050;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #292b2c;
  transition: all 200ms ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  background: #292b2c;
}
ul {
  min-height: 300px;
  height: 30vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: #191b1b;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
}
li {
  list-style-type: none;
  width: 100%;
  padding: 0% 2%;
  margin: 0px 2px;
  color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
li:hover {
  background: #292b2c;
}
li div:nth-child(1) {
  height: 5vh;
  width: 70%;
  display: flex;
  align-items: center;
}
li div:nth-child(1) span {
  padding-left: 2%;
}
li div:nth-child(2) {
  height: 5vh;
  width: 20%;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-gap: 2px;
}
li .app-button {
  display: flex;
  align-items: center;
}
.purchase {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}
.transparent-glass {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  backdrop-filter: blur(5px) brightness(40%);
  transition: all 200ms ease-in-out;
}
.app-warning-pop-up {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 999;
  min-width: 300px;
  width: 20vw;
  height: 120px;
  margin-left: -10vw;
  margin-top: -75px;
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
