<nav class='header'>
  <h1>{{ 'register.title' | translate }}</h1>
</nav>

<div class='container'>
  <form class='card' [formGroup]='form' (ngSubmit)='this.submit()'>
    {{ this.form.controls['username'].errors | json }}
      <div class="form-group">
        <label for="username">{{ 'register.username' | translate }} {{  this.form.controls['username'].value }}</label>
        <input
        class="form-control"
        formControlName='username'
        for="username" (blur)='this.handleBlur()' />
        <div *ngIf='this.form.invalid && this.form.touched'></div>
        <div *ngIf='this.form.controls["username"].hasError("shouldBeUnique")' class="invalid-feedback d-block">
            {{ 'validations.username-unique'  | translate }}
        </div>
      </div>

      <!-- <app-input-form
      formControlName='username'
      [label]=' "register.username" | translate'>
      </app-input-form> -->
      <div class="d-flex justify-content-end">
        <app-button
        ButtonType bclass='button-rectangle-primary' type='submit'>
          {{ "register.submit" | translate }}
        </app-button>
      </div>
  </form>
</div>
