<app-aux-navbar *ngIf='this.product' [title]='this.product.name'></app-aux-navbar>
<app-aux-navbar *ngIf='!this.product' [title]=' "products.insert.title" | translate '></app-aux-navbar>

<div class='container'>

  <form [formGroup]='form' (ngSubmit)='this.submit()'>

    <app-input-form
    formControlName='name'
    [label]= ' "products.form.name" | translate'>
    </app-input-form>

    <app-input-form
    formControlName='description'
    [label]=' "products.form.description" | translate'
    [isTextArea]='true'>
    </app-input-form>

    <app-hangar-list-form
    formControlName='hangarId'
    [label]=' "products.form.select-hangar" | translate '
    [hangarsMinified]='this.hangarsMinified'>
    </app-hangar-list-form>

    <div class='d-flex justify-content-between'>
      <app-quantity-counter-form
      formControlName='quantity'
      [label]=' "products.form.quantity" | translate'>
      </app-quantity-counter-form>

      <app-input-form
      formControlName='price'
      [label]= ' "products.form.price" | translate'>
      </app-input-form>
    </div>

    <div *ngIf='this.isFormEnabled' class='d-flex justify-content-end'>
      <app-button ButtonType bclass='button-rectangle-primary' btype='submit'>
        {{ "products.form.submit-button" | translate }}
      </app-button>
    </div>
  </form>

</div>
