<div class='btn-group w-100 bg-grimary' role='group'>
  <button class='btn btn-primary' (click)='this.toPreviousPage()'>
    {{ 'hangars.list.previous-page' | translate }}
  </button>
  <button class='btn btn-primary' (click)='this.toNextPage()'>
    {{ 'hangars.list.next-page' | translate }}
  </button>
</div>
<ul class='list'>
  <li *ngFor='let hangar of this.hangarsMinified; let i = index;'
  (click)='handleSelectHangar(hangar)'
  (dblclick)='goDetails(hangar)'>
    <a
    [ngClass]='{"selected": this.hangarSelected && (this.hangarSelected.id==hangar.id)}'
    class='list-item text-primary'>
      {{ hangar.name }}
    </a>
  </li>
</ul>
