@width:  100px;
@height: 40px;

@primary-color:     #2C5364;
@primary-color-aux: rgb(0, 106, 141);

@secondary-color:     #137645;
@secondary-color-aux: #10492d;

@white: #f9f9f9;

/* Utils */

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently*/
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.transition {
  transition-duration: 200ms;
  transition-property: all;
}

.remove-default-button-border {
  border: 0;
  outline: 0;
}

.shadow(@outer-border, @color) {
  -webkit-box-shadow: 0px 0px 2px @outer-border @color;
  -moz-box-shadow: 0px 0px 2px @outer-border @color;
  box-shadow: 0px 0px 2px @outer-border @color;
}

.button-container {
  width: @width + 10px;
  height: @height;
  border: none;
}

.custom-button(@color, @color-aux) {

  width: @width;
  height: @height;

  margin: auto;
  border-radius: 3px;

  background: @color;
  color: @white;

  font-family: 'Roboto', sans-serif;

  .no-select();
  .d-flex-center();
  .transition();
  .remove-default-button-border();

  &:hover {
    background: @color-aux;
    width: @width+10px;
  }

  &:active {
    background: @color;
    .shadow(1px, @color);
  }

}

/* Styles */

.custom-button-primary {
  .custom-button(@primary-color, @primary-color-aux);
}

.custom-button-secondary {
  .custom-button(@secondary-color, @secondary-color-aux);
}
