@import './../styles/styles.less';

@rectangle-width:  100px;
@rectangle-height: 40px;

@primary-color:     #2C5364;
@primary-color-aux: rgb(0, 106, 141);

@secondary-color:     #137645;
@secondary-color-aux: #10492d;

@circle-width: 40px;
@circle-height: 40px;

@white: #f9f9f9;

.button-container(@width, @height, @color, @color-aux, @isCircle) {

  width: 100%;
  & when(@isCircle = false) {
    width: @width + 10px;
  }
  height: @height;
  border: none;

  .d-flex-center();

  button {
    .custom-button(@width, @height, @color, @color-aux, @isCircle);
  }
}

.custom-button(@width, @height, @color, @color-aux, @isCircle) {

  width: @width;
  height: @height;

  margin: auto;

  border-radius: 3px;
  & when(@isCircle = true) {
    border-radius: 50%;
  }

  background: @color;
  color: @white;

  font-family: 'Roboto', sans-serif;

  .no-select();
  .d-flex-center();
  .transition();
  .remove-default-button-border();


  &:hover {
    background: @color-aux;

    & when(@isCircle = false) {
      width: @width + 10px;
    }
  }

  &:active {
    background: @color;
    .shadow(1px, @color);
  }

}

.button-rectangle-primary {
  .button-container(@rectangle-width, @rectangle-height, @primary-color, @primary-color-aux, false);
}

.button-rectangle-secondary {
  .button-container(@rectangle-width, @rectangle-height, @secondary-color, @secondary-color-aux, false);
}

.button-circle-primary {
  .button-container(@circle-width, @circle-height, @primary-color, @primary-color-aux, true);
}
