<div class='card bg-light' style='width: 35rem;'>
    <div class='card-body'>
      <h5 class='card-title'>Carrito de compra</h5>
      <ul class='list-group'>
          <li
          *ngFor='let product of this.shoppingCart.cart'
          class='list-group-item d-flex justify-content-between'>
            <span class="badge badge-primary badge-pill">
              {{ product.quantity }}
            </span>
            <span>{{ product.productMinified.name }}</span>
          </li>
        </ul>
      <h5 class='text-right m-2'>{{ this.shoppingCart.totalPrice }}$</h5>
    </div>
  </div>
