<div class='card bg-light' style='width: 35rem;'>
    <div class='card-body'>
      <h5 class='card-title'>Carrito de compra</h5>
      <ul class='list-group'>
        <div>
          <li
          *ngFor='let product of this.shoppingCart.cart'
          class='list-group-item d-flex justify-content-between'
          @fade>
            <span>{{ product.productMinified.name }}</span>
            <app-pill pclass='pill-secondary'>
              {{ product.quantity }}
            </app-pill>
          </li>
        </div>
        </ul>
      <div *ngIf='this.shoppingCart.cart.length > 0' class='d-flex justify-content-between'>
        
          <app-button
          bclass='button-rectangle-primary'
          [routerLink]="['/commerce']" routerLinkActive="router-link-active" >
            {{ 'products.small-toast.go-shop' | translate }}
          </app-button>
          <h5 class='text-right m-2'>{{ this.shoppingCart.totalPrice }}$</h5>
      
    </div>
    </div>
  </div>
