div {
  z-index: 999;
  background: #191b1b;
  height: 100vh;
}
@media screen and (min-width: 1200px) {
  div {
    width: 30vw;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  div {
    width: 40vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  div {
    width: 60vw;
  }
}
@media screen and (min-width: 640px) and (max-width: 768px) {
  div {
    width: 80vw;
  }
}
@media screen and (max-width: 640px) {
  div {
    width: 100vw;
  }
}
ul {
  margin: 0;
  padding: 25% 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
li {
  list-style-type: none;
  width: 100%;
  padding: 0% 2%;
  padding-left: 3%;
  margin: 0px 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #E1E2E2;
  position: relative;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
li:hover {
  background: #000000;
  color: #FDEE30;
}
li:hover::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 3px;
  height: 100%;
  background: #FDEE30;
}
li span {
  height: 7vh;
  padding-left: 0% 10%;
  display: flex;
  align-items: center;
}
.close-button-container i {
  color: #FDEE30;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17pt;
  transition: all 200ms ease-in-out;
}
.close-button-container i:hover {
  background: #000000;
  color: #fd2a22;
  transform: rotate(360deg);
  font-size: 18pt;
}
