div {
  z-index: 999;
  background: #292b2c;
  height: 100vh;
}
@media screen and (min-width: 1200px) {
  div {
    width: 30vw;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  div {
    width: 40vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  div {
    width: 60vw;
  }
}
@media screen and (min-width: 640px) and (max-width: 768px) {
  div {
    width: 80vw;
  }
}
@media screen and (max-width: 640px) {
  div {
    width: 100vw;
  }
}
ul {
  margin: 0;
  padding: 25% 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
li {
  list-style-type: none;
  width: 100%;
  padding: 0% 2%;
  margin: 0px 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 200ms ease-in-out;
  color: #0275d8;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
li:hover {
  background: #363636;
}
li span {
  height: 7vh;
  padding-left: 0% 10%;
  display: flex;
  align-items: center;
}
