.content {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 3fr;
}
h2 {
  text-align: center;
  color: #ff8000;
  background: #191b1b;
  width: 70%;
  height: 10vh;
  margin: auto;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 12pt;
    margin-top: auto;
  }
}
form {
  margin: auto;
  width: 70%;
  background: #191b1b;
  display: grid;
  padding: 5% 10%;
  grid-template-rows: 1fr 1fr 1fr;
}
@media screen and (max-width: 640px) {
  form {
    width: 100%;
  }
}
form div {
  display: flex;
  justify-content: center;
  align-items: center;
}
span {
  color: #ff8000;
  font-size: 10pt;
  font-weight: 300;
  width: 100%;
}
@media screen and (max-width: 640px) {
  span {
    font-size: 8pt;
  }
}
