.content {
  width: 100%;
  height: 70%;
  display: grid;
  grid-template-rows: 1fr 5fr;
}
h2 {
  text-align: center;
  color: #000000;
  background: inherit;
  width: 70%;
  height: 10vh;
  margin: auto;
  font-size: 2.5vw;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 12pt;
    margin-top: auto;
  }
}
form {
  margin: auto;
  width: 70%;
  box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.541);
  border-radius: 2px;
  background: #000000;
  display: grid;
  padding: 5% 10%;
  grid-template-rows: 1fr 1fr 1fr;
}
@media screen and (max-width: 640px) {
  form {
    width: 100%;
  }
}
form div {
  display: flex;
  justify-content: center;
  align-items: center;
}
span {
  color: #FDEE30;
  font-size: 10pt;
  font-weight: 300;
  width: 100%;
}
@media screen and (max-width: 640px) {
  span {
    font-size: 8pt;
  }
}
