<div class='header'>
  <h1>{{ 'login.title' | translate }}</h1>
</div>

<div class='container'>
  <form
  [formGroup]='this.form' (ngSubmit)='this.submit()' (keyup.enter)='this.submit()'
  class='card'>

    <app-input formControlName='username'>
      {{ 'login.username' | translate }}
    </app-input>
    <app-input formControlName='password' type='password'>
      {{ 'login.password' | translate }}
    </app-input>

    <a
    class='text-primary'
    [routerLink]="['/register']"
    routerLinkActive="router-link-active" >
      {{ 'login.create-account' | translate }}
    </a>

    <div class='d-flex justify-content-end'>
      <app-button  bclass='button-rectangle-primary' btype='submit'>
        {{ 'login.submit' | translate }}
      </app-button>
    </div>

  </form>
</div>
