<div class='content'>
  <h2>{{ 'login.title' | translate }}</h2>

  <form [formGroup]='this.form' (ngSubmit)='this.submit()' (keyup.enter)='this.submit()'>
      <app-input formControlName='username'>
        {{ 'login.username' | translate }}
      </app-input>
      <app-input formControlName='password' type='password'>
        {{ 'login.password' | translate }}
      </app-input>

      <div>
        <span [routerLink]="['/register']" routerLinkActive="router-link-active">{{ 'login.create-account' | translate }}</span>
        <app-button bclass='button-rectangle-primary' btype='submit'>{{ 'login.submit' | translate }}</app-button>
      </div>

      <!-- <div class='d-flex justify-content-end'>

      </div> -->

    </form>
  </div>
