<div>
  <app-list
  [hangarsMinified]='this.hangarsMinified'
  [hangarSelected]='this.hangarSelected'
  (toPreviousPageEmitter)='this.handleToPreviousPage()'
  (toNextPageEmitter)='this.handleToNextPage()'
  (hangarSelectedEmitter)='this.handleSelectHangar($event)'
  (moreButtonClickEmitter)='this.expandMenu()'
  (plusButtonClickEmitter)='this.navigateToInsert()'>
  </app-list>
</div>

<div
*ngIf='this.showLateralNavbar'
class='transparent-glass'>
</div>

<div
  [ngClass]='{
    "lateral-navbar-active": this.showLateralNavbar,
    "lateral-navbar": !this.showLateralNavbar }'>
  <app-lateral-navbar
  ClickOutSide (clickOutSide)='this.handleCloseLateralNavbar()'
  (closeEmitter)='this.handleCloseLateralNavbar()'
  (deleteHangarEmitter)='this.handleDeleteHangar()'>
  </app-lateral-navbar>
</div>
