<app-aux-navbar
[title]=' "hangars.list.title" | translate '>
</app-aux-navbar>

<div class='container'>
  <app-list
  [hangarsMinified]='this.hangarsMinified'
  [hangarSelected]='this.hangarSelected'
  (toPreviousPageEmitter)='this.handleToPreviousPage()'
  (toNextPageEmitter)='this.handleToNextPage()'
  (hangarSelectedEmitter)='this.handleSelectHangar($event)'>
  </app-list>
</div>

<div class='float-button'>
    <app-button
    ButtonType bclass='button-rectangle-primary'
    class='button float'
    (click)='this.handleFloatButtonClick()'>
     {{ this.hangarSelected ? "More": "Insertar" }}
    </app-button>
</div>

<div
  [ngClass]='{
    "lateral-navbar-active": this.showLateralNavbar,
    "lateral-navbar": !this.showLateralNavbar }'>
  <app-lateral-navbar
  ClickOutSide (clickOutSide)='this.handleCloseLateralNavbar()'
  (closeEmitter)='this.handleCloseLateralNavbar()'
  (deleteHangarEmitter)='this.handleDeleteHangar()'>
  </app-lateral-navbar>
</div>
