.lateral-navbar {
  position: fixed;
  z-index: 4;
  top: 0vh;
  transition: all 400ms cubic-bezier(1, 0.01, 0.71, 1.02);
  opacity: 0.99;
}
@media screen and (min-width: 1200px) {
  .lateral-navbar {
    right: -70vw;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .lateral-navbar {
    right: -80vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .lateral-navbar {
    right: -82vw;
  }
}
@media screen and (min-width: 640px) and (max-width: 768px) {
  .lateral-navbar {
    right: -82vw;
  }
}
@media screen and (max-width: 640px) {
  .lateral-navbar {
    right: -100vw;
  }
}
.lateral-navbar-active {
  position: fixed;
  z-index: 4;
  top: 0vh;
  transition: all 400ms cubic-bezier(1, 0.01, 0.71, 1.02);
  opacity: 0.99;
}
@media screen and (min-width: 1200px) {
  .lateral-navbar-active {
    right: -70vw;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .lateral-navbar-active {
    right: -80vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .lateral-navbar-active {
    right: -82vw;
  }
}
@media screen and (min-width: 640px) and (max-width: 768px) {
  .lateral-navbar-active {
    right: -82vw;
  }
}
@media screen and (max-width: 640px) {
  .lateral-navbar-active {
    right: -100vw;
  }
}
@media screen and (min-width: 1200px) {
  .lateral-navbar-active {
    transform: translateX(-70vw);
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .lateral-navbar-active {
    transform: translateX(-80vw);
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .lateral-navbar-active {
    transform: translateX(-80vw);
  }
}
@media screen and (min-width: 640px) and (max-width: 768px) {
  .lateral-navbar-active {
    transform: translateX(-80vw);
  }
}
@media screen and (max-width: 640px) {
  .lateral-navbar-active {
    transform: translateX(-100vw);
  }
}
.transparent-glass {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  backdrop-filter: blur(2px);
  transition: all 200ms ease-in-out;
}
.darker {
  backdrop-filter: blur(2px) brightness(60%);
}
.app-warning-pop-up {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 999;
  min-width: 300px;
  width: 20vw;
  height: 120px;
  margin-left: -10vw;
  margin-top: -75px;
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
