.float-button {
  position: fixed;
  left: 80vw;
}

.lateral-navbar {
  position: fixed;
  top: 30vh;
  right: -30vw;

  width: 30vw;
  transition: all 400ms cubic-bezier(1,.01,.71,1.02);

}

.lateral-navbar-active {
  .lateral-navbar;
  transform: translateX(-30vw);
}
