<div>
  <app-list
  [hangarsMinified]='this.hangarsMinified'
  [hangarSelected]='this.hangarSelected'
  (toPreviousPageEmitter)='this.handleToPreviousPage()'
  (toNextPageEmitter)='this.handleToNextPage()'
  (hangarSelectedEmitter)='this.handleSelectHangar($event)'
  (moreButtonClickEmitter)='this.expandMenu()'
  (plusButtonClickEmitter)='this.navigateToInsert()'>
  </app-list>
</div>

<div
*ngIf='this.showLateralNavbar || this.showWarningPopUp'
class='transparent-glass'
[ngClass]='{ "darker": this.showWarningPopUp }'>
</div>

<div
  [ngClass]='{
    "lateral-navbar-active": this.showLateralNavbar,
    "lateral-navbar": !this.showLateralNavbar }'>
  <app-lateral-navbar
  ClickOutSide (clickOutSide)='this.handleCloseLateralNavbar()'
  (closeEmitter)='this.handleCloseLateralNavbar()'
  (deleteHangarEmitter)='this.handleDeleteHangar()'>
  </app-lateral-navbar>
</div>

<div
*ngIf='this.showWarningPopUp'
class='app-warning-pop-up'
@fullFade>
  <app-warning-pop-up
  (leftButtonClickEmitter)='this.deleteHangar()'
  (rightButtonClickEmitter)='this.closeWarningPopUp()'>
    <ng-container class='message'>
        {{ 'hangars.warning-pop-up.message' | translate }}
    </ng-container>
    <ng-container class='left-button'>
      {{ 'hangars.warning-pop-up.left-button' | translate }}
    </ng-container>
    <ng-container class='right-button'>
        {{ 'hangars.warning-pop-up.right-button' | translate }}
    </ng-container>
  </app-warning-pop-up>
</div>
