.shell {
  min-height: 100vh;
  display: grid;
  grid-template-areas: "navbar-container" "app-main";
  background: #dfdfdf;
}
@media screen and (min-width: 1200px) {
  .shell {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 35fr;
  }
}
@media screen and (max-width: 1200px) and (min-width: 1024px) {
  .shell {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 12fr;
  }
}
@media screen and (max-width: 1024px) {
  .shell {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 12fr;
  }
}
.navbar-container {
  grid-area: navbar-container;
  z-index: 2;
  width: 100vw;
  position: fixed;
}
.main {
  grid-area: app-main;
  margin-top: 5vh;
}
@media screen and (max-width: 768px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 12fr;
    margin-top: 2vh;
  }
}
