.shell {
  height: 100vh;
  display: grid;
  grid-template-areas: "navbar-container" "app-main";
}
@media screen and (min-width: 1200px) {
  .shell {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 30fr;
  }
}
@media screen and (max-width: 1200px) and (min-width: 1024px) {
  .shell {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 12fr;
  }
}
@media screen and (max-width: 1024px) {
  .shell {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 12fr;
  }
}
.navbar-container {
  background: teal;
  grid-area: navbar-container;
}
.app-main {
  background: tomato;
  grid-area: app-main;
}
